body {
	background-color: #d1efc9;
	color: #488;
	font-family: 'Raleway', serif;
}
			
h1 {
	font-family: 'Hind Siliguri', sans-serif;
	color: #266;
	padding: 1%;
}
			
p {
	padding: 1%;
	margin: 0 0 0 10%;
}

.source {
	text-align:right;
}

#cat {
	opacity: 0.5;
}

footer {
	position: fixed;
	bottom: 0;
	margin: 1%;
}